@font-face {
  font-family: 'icomoon';
  src:
    url('/static/fonts/icomoon.ttf?i1h4ks') format('truetype'),
    url('/static/fonts/icomoon.woff?i1h4ks') format('woff'),
    url('/static/fonts/icomoon.svg?i1h4ks#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  display: inline-flex;
}

.icon:before {
  font-family: 'icomoon';
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--close:before {
  content: '\f00d';
}

.icon--refresh:before {
  content: '\f021';
}

.icon--hamburger:before {
  content: '\f0c9';
}
